:root {
    --main-border-radius: 8px;
    --container-padding: 20px 50px;
    --primary-background-color: #fff;
    --primary-text-color: #000;
    --secondary-text-color: #575656fe;
    --video-card-background: inherit;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background-color: #15202b;
        --primary-text-color: #fff;
        --secondary-text-color: #b3b3b3;
        --video-card-background: #22303C;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

main {
    min-height: 100vh;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.truncate {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero-container {
    color: #fff;
    background:
        radial-gradient(at top center,
            #1C2E60 25%,
            transparent 100%),
        radial-gradient(circle at top right,
            #F9B5EF 15%,
            transparent 45%),
        radial-gradient(circle at bottom left,
            #57212E 35%,
            transparent 80%),
        radial-gradient(circle at bottom right,
            #FB63D9 25%,
            transparent 50%);
    border-bottom: 5px solid #FB4CFF;
    padding: var(--container-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: space-between;
}

#hero-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.category-details {
    flex-basis: 40%;
    margin-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;

    >h1 {
        font-size: 1.5em;
    }

    >hr {
        margin-left: 0;
        text-align: left;
        width: 25px;
    }

    & p {
        font-size: 0.75em;
    }
}

.video-responsive {
    text-align: center;
    flex-grow: 1;

    iframe {
        border-radius: var(--main-border-radius);
    }
}

#video-list-container {
    margin-top: 50px;
    padding: var(--container-padding);
    display: flex;
    flex-wrap: wrap;
}

.video-card {
    border-radius: var(--main-border-radius);
    background-color: var(--video-card-background);
    cursor: pointer;
    width: 200px;
    margin: 0px 5px 20px;

    & img {
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-radius: var(--main-border-radius);
    }

    .video-card-body {
        padding: 0 5px;

        .video-title {
            font-size: small;
            margin: 5px 0;
        }

        .video-description {
            color: var(--secondary-text-color);
            font-size: x-small;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            display: -webkit-box;
        }
    }

    .video-card-footer {
        padding: 0 5px;

        .video-duration {
            font-size: xx-small;
        }
    }
}